.avatar-part-type {
    margin: 10px;
    background-color: #f0f0f0;
}

.avatar-color {
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 10px solid #f0f0f0;
    cursor: pointer;
}

.selected.avatar-color {
    border: 10px solid #d0d0d0;
}

.selected.avatar-part-type {
    background-color: #d0d0d0;
}